<nav style="display:flex; background-color: rgb(151, 174, 250); flex-direction:row; justify-items: center; justify-content: space-between;">
  <div>
    <h1>  
      <p class=" ml-12 text-red-900 font-bold text-5xl">O<span class="text-blue-900 font-bold text-5xl">T</span><span class="text-orange-900 font-bold text-5xl">U</span><span class="text-green-900 font-bold text-5xl">~</span><span class="text-purple-900 font-bold text-5xl">B</span> <span>BLOG</span></p>
    </h1>
  </div>

  <div style="margin-top: 20px;">
    <input style="width: 400px; height: 30px;" type="text", placeholder="search">
  </div>
  <div style="margin-top: 15px;">
    <a href="/accounts/login/">
      <button style="background-color:rgb(78, 78, 255); color: white; padding:10px 30px; border-radius: 30px; border-style: none; margin-right: 20px; cursor:pointer;">Login</button>
    </a>
    <a href="/accounts/register">
      <button style="background-color:rgb(78, 78, 255); color: white; padding:10px 30px; border-radius: 30px;border-style: none; cursor:pointer;">Register</button>
    </a>
    <a href="/core/create/">
      <button style="background-color:rgb(78, 78, 255); color: white; padding:10px 30px; border-radius: 30px;border-style: none; cursor:pointer;">Create Article</button>
    </a>
  </div>
</nav>
<hr>